
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

h1{
    font-family: "Pixelify Sans", sans-serif;
    color:white ;
}

h1 span{
    color: yellowgreen
}

body{
    background-color: black;
    color: aliceblue;
    font-family: "pixelify Sans", sans-serif;
    text-align: center;

}

#dias_restantes{
    color: greenyellow;
    font-size: 50px;
}







;

